{% extends 'base.html' %}
{% load static %}
{% load background_tags %}
{% load compress %}
{% block content %}

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}">
    {% endcompress %}

    {% background as background %}

    <section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15 ftco-section"
             style="background-image: url({{ background|image_url:'account' }});">

        {% block content_login %}

        {% endblock %}
    </section>
{% endblock %}