{% extends 'base.html' %}
{% load static %}
{% load background_tags %}
{% block content %}

    <!-- Title Page -->
    <section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
             style="background-image: url({{ background|image_url:'contact' }});">
        <h2 class="tit6 t-center">
            Contact
        </h2>
    </section>

    <!-- Contact form -->
    <section class="section-contact bg1-pattern p-t-90 p-b-113">
        <!-- Map -->
        <div class="container">
            <div class="row mt-5">
                {% for address in addresses %}
                    <div class="col-md-6">
                        <div class="card d-flex h-100 mb-3 mb-md-0">
                            <div class="card-body d-flex flex-column">
                                <div class="mb-3 tit7">
                                    {{ address.title }}
                                </div>
                                <div style="height: 200px" class="mb-3">
                                    <div class="map-container" data-src="{{ address.iframe_url }}"
                                         style="background: url({% static 'main/images/map.webp' %}) no-repeat center;"></div>
                                </div>
                                <address class="d-flex align-items-center">
                                    <i class="fa fa-map-marker fs-24 mr-4"></i>
                                    <span class="txt10">Address: {{ address.location }}</span>
                                </address>
                                <div class="mb-3">
                                    <i class="fa fa-phone fs-24 mr-3"></i>
                                    <span class="txt10">
                                         Phone: {{ address.phone }}
                                    </span>
                                </div>
                                <div>

                                    <i class="fa fa-clock-o fs-24 mr-3"></i>
                                    <span class="txt10">
                                         Opening Hours: {{ address.work_start_time }} – {{ address.work_end_time }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="container">
            <h3 class="tit7 t-center p-b-62 p-t-105">
                Send us a Message
            </h3>
            <form class="wrap-form-reservation size22 m-l-r-auto" action="{% url 'website:contact' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <!-- Name -->
                        <span class="txt9">
							Name
						</span>
                        <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                            <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Email -->
                        <span class="txt9">
							Email
						</span>
                        <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                            <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Phone -->
                        <span class="txt9">
							Phone
						</span>
                        <div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
                            <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="phone" placeholder="Phone">
                        </div>
                    </div>
                    <div class="col-12">
                        <!-- Message -->
                        <span class="txt9">
							Message
						</span>
                        <textarea class="bo-rad-10 size35 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-3" name="message"
                                  placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="wrap-btn-booking flex-c-m m-t-13">
                    <!-- Button3 -->
                    <button type="submit" class="btn3 flex-c-m size36 txt11 trans-0-4">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </section>

    <script>
        window.addEventListener('load',
            function (e) {
                const mapContainers = document.getElementsByClassName('map-container');
                for (let i = 0; i < mapContainers.length; i++) {
                    const map = mapContainers[i];
                    var frame = document.createElement('iframe');
                    frame.src = map.getAttribute('data-src');
                    map.appendChild(frame);
                }
            });
    </script>
{% endblock %}