{% extends 'base.html' %}
{% load static %}
{% load main_tags %}
{% block content %}

    <!-- Title Page -->
    <section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
             style="background-image: url({{ background|image_url:'contact' }});">
        <h2 class="tit6 t-center">
            Contact
        </h2>
    </section>

    <!-- Contact form -->
    <section class="section-contact bg1-pattern p-t-90 p-b-113">
        <!-- Map -->
        <div class="container">
            <div class="row mt-5">
                {% for address in addresses %}
                    <div class="col-md-6">
                        <div class="card mb-3 mb-md-0">
                            <div class="card-body d-flex flex-column">
                                <div class="mb-3 tit7">
                                    {{ address.title }}
                                </div>
                                <div style="height: 200px" class="mb-3">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3236.9316528160566!2d51.42546205614305!3d35.7770552136491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e0680a4d5320d%3A0x35f1385e0d42ff30!2sDatis%20Arian%20Qeshm%20Co.%20(Dotin)!5e0!3m2!1sen!2s!4v1688835880252!5m2!1sen!2s"
                                            }
                                            width="100%" height="100%" style="border:2px;" allowfullscreen=""
                                            loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                                <address class="d-flex align-items-center">
                                    <div>
                                        <i class="fa fa-map-marker fs-24 mr-3"></i>
                                        <span class="txt24">
                                        Address:
                                    </span>
                                        <span class="txt10">{{ address.address }}</span>
                                    </div>
                                </address>
                                <div class="mb-3">
                                    <i class="fa fa-phone fs-24 mr-3"></i>
                                    <span class="txt10">
                                         Phone: {{ address.phone }}
                                    </span>
                                </div>
                                <div>

                                    <i class="fa fa-clock-o fs-24 mr-3"></i>
                                    <span class="txt10">
                                         Opening Hours: {{ address.work_start_time }} – {{ address.work_end_time }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="container">
            <h3 class="tit7 t-center p-b-62 p-t-105">
                Send us a Message
            </h3>
            <form class="wrap-form-reservation size22 m-l-r-auto" action="{% url 'website:contact' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <!-- Name -->
                        <span class="txt9">
							Name
						</span>
                        <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                            <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Email -->
                        <span class="txt9">
							Email
						</span>
                        <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                            <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Phone -->
                        <span class="txt9">
							Phone
						</span>
                        <div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
                            <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="phone" placeholder="Phone">
                        </div>
                    </div>
                    <div class="col-12">
                        <!-- Message -->
                        <span class="txt9">
							Message
						</span>
                        <textarea class="bo-rad-10 size35 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-3" name="message"
                                  placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="wrap-btn-booking flex-c-m m-t-13">
                    <!-- Button3 -->
                    <button type="submit" class="btn3 flex-c-m size36 txt11 trans-0-4">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </section>

    {#    <script>#}
    {#        function myMap() {#}
    {#            var mapProp = {#}
    {#                center: new google.maps.LatLng(35.77730846937886, 51.42648216373876),#}
    {#                zoom: 17,#}
    {#            };#}
    {#            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);#}
    {#            var marker = new google.maps.Marker({#}
    {#                position: {lat: 35.77730846937886, lng: 51.42648216373876},#}
    {#                animation: google.maps.Animation.BOUNCE#}
    {#            });#}
    {#            marker.setMap(map);#}
    {#        }#}
    {#    </script>#}
    {#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBqk7N9hAekFLOvcuetxzbItOzMHJBOs0&callback=myMap"></script>#}

{% endblock %}